# Load Zephyr Arch Kconfig descriptions.
osource "E:/Code_Projects/zephyr/arch/rx/Kconfig"
osource "E:/Code_Projects/zephyr/arch/x86/Kconfig"
osource "E:/Code_Projects/zephyr/arch/xtensa/Kconfig"
osource "E:/Code_Projects/zephyr/arch/sparc/Kconfig"
osource "E:/Code_Projects/zephyr/arch/riscv/Kconfig"
osource "E:/Code_Projects/zephyr/arch/posix/Kconfig"
osource "E:/Code_Projects/zephyr/arch/mips/Kconfig"
osource "E:/Code_Projects/zephyr/arch/arm64/Kconfig"
osource "E:/Code_Projects/zephyr/arch/arm/Kconfig"
osource "E:/Code_Projects/zephyr/arch/arc/Kconfig"
