/dts-v1/;
#include <nordic/nrf52833_qdaa.dtsi>

// 1. 引脚控制 (Pin Control) 配置
&pinctrl {
    // I2C (QMC6309) 引脚配置：使用外部上拉电阻，内部禁用
    i2c0_default: i2c0_default {
        group1 {
            psels = <NRF_PSEL(TWIM_SDA, 0, 2)>,
                    <NRF_PSEL(TWIM_SCL, 0, 3)>;
            bias-disable; 
        };
    };
    i2c0_sleep: i2c0_sleep {
        group1 {
            psels = <NRF_PSEL(TWIM_SDA, 0, 2)>,
                    <NRF_PSEL(TWIM_SCL, 0, 3)>;
            bias-disable;
            low-power-enable;
        };
    };

    // SPI (LSM6DSV) 引脚配置
    spi1_default: spi1_default {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK, 0, 30)>,
                    <NRF_PSEL(SPIM_MOSI, 0, 29)>,
                    <NRF_PSEL(SPIM_MISO, 0, 28)>;
        };
    };
    spi1_sleep: spi1_sleep {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK, 0, 30)>,
                    <NRF_PSEL(SPIM_MOSI, 0, 29)>,
                    <NRF_PSEL(SPIM_MISO, 0, 28)>;
            low-power-enable;
        };
    };

    // PWM (共阳极 RGB) 引脚配置 
    pwm0_default: pwm0_default {
        group1 {
            psels = <NRF_PSEL(PWM_OUT0, 0, 15)>, // Red
                    <NRF_PSEL(PWM_OUT1, 0, 17)>, //Green
                    <NRF_PSEL(PWM_OUT2, 0, 20)>; //Blue
            //共阳极配置：开漏输出 (拉低点亮，拉高断开)
            nordic,drive-mode = <NRF_DRIVE_S0D1>;
            nordic,invert; 
        };
    };
    pwm0_sleep: pwm0_sleep {
        group1 {
            psels = <NRF_PSEL(PWM_OUT0, 0, 15)>,
                    <NRF_PSEL(PWM_OUT1, 0, 17)>,
                    <NRF_PSEL(PWM_OUT2, 0, 20)>;
            low-power-enable;
        };
    };
};

/* 2. 根节点配置 */
/ {
    model = "Smol 52833 Custom Tracker";
    compatible = "custom,smol52833";

    chosen {
        zephyr,sram = &sram0;
        zephyr,flash = &flash0;
        /* 开启 USB 虚拟串口调试 */
        zephyr,console = &cdc_acm_uart0;
        zephyr,shell-uart = &cdc_acm_uart0;
    };

    /* RGB LED 映射 */
    pwmleds {
        compatible = "pwm-leds";
        pwm_led0: pwm_led_0 {
            pwms = <&pwm0 0 PWM_MSEC(1) PWM_POLARITY_INVERTED>;
        };
        pwm_led1: pwm_led_1 {
            pwms = <&pwm0 1 PWM_MSEC(1) PWM_POLARITY_INVERTED>;
        };
        pwm_led2: pwm_led_2 {
            pwms = <&pwm0 2 PWM_MSEC(1) PWM_POLARITY_INVERTED>;
        };
    };

    //SW0
    buttons {
        compatible = "gpio-keys";
        button0: button_0 {
            gpios = <&gpio0 9 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
            label = "Sleep Button SW0";
        };
    };

    aliases {
        sw0 = &button0;
        pwm-led0 = &pwm_led0;
        pwm-led1 = &pwm_led1;
        pwm-led2 = &pwm_led2;
    };

    //ADC
    battery-divider {
        compatible = "voltage-divider";
        status = "okay";
        io-channels = <&adc 3>;
        output-ohms = <510000>;
        full-ohms = <(1000000+510000)>;
        power-gpios = <&gpio0 14 (GPIO_OPEN_DRAIN|GPIO_ACTIVE_LOW)>;
    };

    zephyr,user {
        // LSM6DSV INT1
        int0-gpios = <&gpio0 10 GPIO_ACTIVE_HIGH>;
        // BQ25101 CHG
        chg-gpios = <&gpio0 19 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
    };
};

//启用与配置外设
&reg1 {
    regulator-initial-mode = <NRF5X_REG_MODE_DCDC>;
};

&adc {
    status = "okay";
};

&gpiote {
    status = "okay";
};

&gpio0 {
    status = "okay";
};

&gpio1 {
    status = "okay";
};

//禁用原生UART0
&uart0 {
    status = "disabled";
};

&pwm0 {
    status = "okay";
    pinctrl-0 = <&pwm0_default>;
    pinctrl-1 = <&pwm0_sleep>;
    pinctrl-names = "default", "sleep";
};

//i2c QMC6309
&i2c0 {
    compatible = "nordic,nrf-twim";
    status = "okay";
    pinctrl-0 = <&i2c0_default>;
    pinctrl-1 = <&i2c0_sleep>;
    pinctrl-names = "default", "sleep";
    
    zephyr,concat-buf-size = <1023>;
    zephyr,flash-buf-max-size = <1023>;

    mag: mag@0 {
        compatible = "i2c-device";
        label = "mag";
        reg = <0>;
    };
};

//SPI LSM6DSV
&spi1 {
    compatible = "nordic,nrf-spim";
    status = "okay";
    cs-gpios = <&gpio0 31 GPIO_ACTIVE_LOW>;
    
    
    pinctrl-0 = <&spi1_default>;
    pinctrl-1 = <&spi1_sleep>;
    pinctrl-names = "default", "sleep";
    
    clock-frequency = <DT_FREQ_M(8)>;

    imu_spi: imu_spi@0 {
        status = "okay";
        compatible = "vnd,spi-device";
        label = "imu-spi";
        reg = <0>;
        spi-max-frequency = <DT_FREQ_M(8)>;
    };
};

// 开启USB
zephyr_udc0: &usbd {
    compatible = "nordic,nrf-usbd";
    status = "okay";
    cdc_acm_uart0: cdc_acm_uart0 {
        compatible = "zephyr,cdc-acm-uart";
    };
};

//禁用NFC
&nfct {
    status = "disabled";
};